<div class="system-user">
  <div class="operate">
    <button nz-button [nzType]="'primary'" (click)="addRole()">
      新增角色
    </button>
  </div>
  <app-dancebox-table [tableDataList]="tableList" [tableTotal]="tableTotal" (changePage)="changePage($event)"
    [loadData]="loadData">
    <tr class="thead">
      <th style="width:150px" nzAlign="left">角色名称</th>
      <th style="width:130px" nzAlign="center">角色描素</th>
      <th style="width:80px" nzAlign="center">状态</th>
      <th style="width:190px" nzAlign="center">创建时间</th>
      <th style="width:190px" nzAlign="center">更新时间</th>
      <th style="width:480px" nzAlign="center">操作</th>
    </tr>
    <tr *ngFor="let data of tableList" class="tbody">
      <td nzAlign="left">{{ data.title }}</td>
      <td nzAlign="center">{{ data.description }}</td>
      <td nzAlign="center">
        <img src="/assets/images/yes.gif" *ngIf="data.status==1" />
        <img src="/assets/images/no.gif" *ngIf="data.status==0" />
      </td>
      <td nzAlign="center">{{ data.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzAlign="center">{{ data.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzAlign="center">
        <button nz-button nzType="default" nzSize="small" (click)="editRole(data)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>修改</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzSize="small" (click)="menusAuth(data, '1')">
          <i nz-icon nzType="edit" nzTheme="outline"></i>菜单权限</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" nzSize="small" (click)="interfaceAuth(data, '2')">
          <i nz-icon nzType="edit" nzTheme="outline"></i>接口权限</button>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="你确定要删除该条记录吗?" nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="deleteRowData(data)">
          <button nz-button nzType="danger" nzSize="small">
            <i nz-icon nzType="delete" nzTheme="outline"></i>删除</button>
        </a>
      </td>
    </tr>
  </app-dancebox-table>
</div>
