<div class="system-user">
  <div class="operate">
    <button nz-button [nzType]="'primary'" (click)="addUser()">
      新增用户
    </button>
  </div>
  <app-dancebox-table [tableDataList]="tableList" [tableTotal]="tableTotal" (changePage)="changePage($event)"
    [loadData]="loadData">
    <tr class="thead">
      <th style="width:150px;" nzAlign="left">用户名</th>
      <th style="width:130px;" nzAlign="center">手机号码</th>
      <th style="width:180px;" nzAlign="left">邮箱</th>
      <th style="width:80px;" nzAlign="center">状态</th>
      <th style="width:150px;" nzAlign="left">平台</th>
      <th style="width:130px;" nzAlign="center">超级管理员</th>
      <th style="width:130px;" nzAlign="center">最后登录IP</th>
      <th style="width:190px;" nzAlign="center">最后登录时间</th>
      <th style="width:190px;" nzAlign="center">创建时间</th>
      <th style="width:190px;" nzAlign="center">更新时间</th>
      <th style="width:480px;" nzAlign="center">操作</th>
    </tr>
    <tr *ngFor="let data of tableList" class="tbody">
      <td nzAlign="left">{{ data.username }}</td>
      <td nzAlign="center">{{ data.mobile }}</td>
      <td nzAlign="left">{{ data.email }}</td>
      <td nzAlign="center">
        <img src="/assets/images/yes.gif" *ngIf="data.status==1" />
        <img src="/assets/images/no.gif" *ngIf="data.status==0" />
      </td>
      <td nzAlign="left">{{ data.platform }}</td>
      <td nzAlign="center">
        <span *ngIf="data.isSuper==1">是</span>
        <span *ngIf="data.isSuper==0">否</span>
      </td>
      <td nzAlign="center">{{data.lastLoginIp}}</td>
      <td nzAlign="center">{{data.lastLoginTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      <td nzAlign="center">{{ data.createdAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzAlign="center">{{ data.updatedAt | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td nzAlign="center">
        <button nz-button nzType="default" (click)="editUser(data)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>修改</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="default" (click)="assignRole(data)">
          <i nz-icon nzType="tool" nzTheme="outline"></i>分配角色</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="primary" (click)="resetPassword(data)">
          <i nz-icon nzType="rest" nzTheme="outline"></i>重置密码</button>
        <nz-divider nzType="vertical"></nz-divider>
        <button nz-button nzType="danger" (click)="deleteUser(data)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>删除</button>
      </td>
    </tr>
  </app-dancebox-table>
</div>

<!-- 添加数据的弹框 -->
<app-edit-user (saveSuccess)="saveSuccess()" (closeModal)="closeModal()" [rowData]="rowData" *ngIf="isOpenModal">
</app-edit-user>
